ion-item.selected {
//    --color: var(--ion-color-primary);
    --background: var(--ion-color-primary);
    --color: white;

    ion-icon {
        color: white;
    }
}

ion-item {
    --background-color: yellow;
}

.rotUsu {
    font-size: 70%;
}
