<!--<app-header nomePagina="Apontamento">
</app-header>-->

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button *ngIf="this.db.getTipoUsuario() == 3 || this.db.getTipoUsuario() == 4" (click)="reseta()">
        <ion-icon slot="icon-only"></ion-icon>
        <span class="material-icons-round">start</span>  
      </ion-button>
      <ion-button (click)="carregaStatus(this.equipamento)">
        <ion-icon slot="icon-only" name="refresh-outline"></ion-icon>
      </ion-button>
      <!--<ion-button (click)="selecionaOperacoes()">
        <ion-icon slot="icon-only" name="list-outline"></ion-icon>
      </ion-button>-->
    </ion-buttons>
    <ion-title>Apontamento</ion-title> 
    <ion-buttons class="alturamenor" slot="end">
      <ion-button class="alturamenor" (click)='this.db.AbreMensagem()'>
        <ion-icon slot="icon-only" name="chatbubbles">
        </ion-icon>
        <ion-badge *ngIf="this.db.qtdMsgNaoLida > 0">{{ this.db.qtdMsgNaoLida }}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="alturamenor">
    <!--<ion-buttons class="alturamenor" slot="end">
      <ion-button class="alturamenor" (click)='abreNotificacao()'>
        <ion-icon slot="icon-only" name="notifications-outline">
        </ion-icon>
        <ion-badge *ngIf="this.db.qtdNotificacoes > 0" top color="danger">{{ this.db.qtdNotificacoes }}</ion-badge>
      </ion-button>
    </ion-buttons>-->
    <ion-buttons slot="end">
      <ion-chip (click)="selecionaOperador()">{{ this.db.getUsuario() }}</ion-chip>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-chip [disabled]="this.db?.plantas?.length == 1" (click)="selecionaPlanta()">{{
        (this.planta?.descricao?this.planta.descricao:"Planta")
        }}</ion-chip>

      <ion-chip [disabled]="this.db?.centrosCusto?.length == 1 && this.db?.centrosCusto[0].equipamentos?.length == 1"
        (click)="selecionaEquipamento()">
        {{
        (this.equipamento?.descricao?this.equipamento.descricao:"Equipamento")
        }}
      </ion-chip>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none" *ngIf="this.statusRecurso?.idEventoProducao"
    [style]="'--background: #' + this.statusRecurso.corFundo">
    <ion-label class="ion-text-center" style="font-size: 150%;">
      <strong>{{this.statusRecurso?.operador}} | </strong>
      <strong *ngIf="statusRecurso?.evento !== statusRecurso?.agrupador">
        {{ this.statusRecurso?.agrupador }} |
      </strong>
      <strong>{{this.statusRecurso?.evento}}</strong>
      <strong><br>{{ this.statusRecurso?.inicio | date : "dd/MM/yyyy HH:mm" }}</strong>
    </ion-label>
  </ion-item>
  <ion-item lines="none" *ngIf="this.statusRecurso?.observacaoEvento"
    [style]="'--background: #' + this.statusRecurso.corFundo">
    <ion-label class="ion-text-center">{{ this.statusRecurso?.observacaoEvento }}</ion-label>
  </ion-item>
  <ion-item class="itDados" *ngIf="this.atual?.agrupadores?.length > 0">
    <ion-grid>
      <ion-row style="font-size: 150%;">
        <ion-col>
          <ion-label>Inicio</ion-label>
          <div>
            {{this.atual.inicio| date: "dd/MM - HH:mm:ss"}}
          </div>
        </ion-col>
        <!--              <ion-col>
          <ion-label 
          >Termino</ion-label
        >
        <div >
          {{this.atual.termino| date: "dd/MM - HH:mm:ss"}}
        </div>
        </ion-col> -->
        <ion-col>
          <ion-label>Tempo</ion-label>
          <div>{{this.convertTime(this.atual.tempo)}}</div>
        </ion-col>
      </ion-row> 
      <ion-row *ngIf="this.atual.agrupadores[0].tempo > 0">
        <ion-item *ngFor="let ag of this.atual.agrupadores"
          [style]="'font-size: 150%; --background: #' + ag.corFundo + '; width: ' + ((ag.tempo / this.atual.tempo) * 100) + '%;'">
          {{ ((ag.tempo / this.atual.tempo) * 100).toFixed(1) + ' %' }}<br>
          {{this.convertTime(ag.tempo)}}
        </ion-item>

      </ion-row>
    </ion-grid>
  </ion-item>

  <div class="botoes">
    <div class="btn" *ngIf="setup && setup.length > 0">
      <ion-button *ngFor="let set of setup" class="btnSetup" size="large"
        [style]="'--background:' + set.corFundo + '; color: ' + set.corFonte + ''" expand="full"
        (click)="registraEvento('setup',set,null,$event)" 
        [style.display]="set.id == statusRecurso.idEventoProducao?'none':'block'">
        <ion-grid>
          <ion-row>
            <ion-col class="ion-text-center">
              <ion-icon size="large" name="cog-outline"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col> {{set.descricao}} </ion-col>
          </ion-row>
        </ion-grid>
      </ion-button>
    </div>

    <div class="btn" *ngIf="producao && producao.length > 0">
      <ion-button *ngFor="let prod of producao" class="btnProducao" size="large" expand="block"
        [style]="'--background:' + prod.corFundo + '; color: ' + prod.corFonte + ''"
        (click)="registraEvento('produzir',prod,null,$event)" [style.display]="prod.id == statusRecurso.idEventoProducao?'none':'block'">
        <ion-grid>
          <ion-row>
            <ion-col class="ion-text-center">
              <ion-icon size="large" name="play-outline"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col> {{prod.descricao}} </ion-col>
          </ion-row>
        </ion-grid>
      </ion-button>
    </div>

    <div class="btn" *ngIf="this.operacoes && this.operacoes.length > 0">
      <ion-button class="btnFinalizar" size="large" expand="block"
        (click)="registraEvento('finalizar',null,null,$event)" color="#90A4AE">
        <ion-grid>
          <ion-row>
            <ion-col class="ion-text-center">
              <ion-icon size="large" name="stop-outline"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col> FINALIZAR </ion-col>
          </ion-row>
        </ion-grid>
      </ion-button>
    </div>

    <div class="btn" *ngIf="parada && parada.length > 0">
      <ion-button class="btnParada" size="large" type="submit" expand="block"
        [style]="'--background:' + parada[0].corFundo + '; color: ' + parada[0].corFonte + ''"
        (click)="registraEvento('parar',null,null,$event)">
        <ion-grid>
          <ion-row>
            <ion-col class="ion-text-center">
              <ion-icon size="large" name="pause-outline"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col> PARADA </ion-col>
          </ion-row>
        </ion-grid>
      </ion-button>
    </div>
  </div>

  <ion-list *ngIf="this.operacoes && this.operacoes.length > 0">
    <ion-list-header class="titLista" color="primary">
      <ion-toolbar color='primary'>
        <ion-title>Em andamento</ion-title>
        <ion-label slot="end">{{ statusRecurso.agrupamento }}</ion-label>
        <ion-chip class="qtdAndamento" slot="end">{{ operacoes.length }}</ion-chip>
      </ion-toolbar>
    </ion-list-header>
    <ion-item *ngFor="let op of this.operacoes" class="itDados">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>Número da Ordem</ion-label>
            <div>{{op.numeroOrdem}}</div>
          </ion-col>
          <ion-col>
            <ion-label>Qtd Fabricar</ion-label>
            <div>{{op.quantidade | number: "1.0-3"}}</div>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="op.numeroPedido">
          <ion-col>
            <ion-label>Pedido</ion-label>
            <div>{{op.numeroPedido}}</div>
          </ion-col>
          <ion-col>
            <ion-label>Entrega</ion-label>
            <div>{{op.entregaPedido | date: "dd/MM/yyyy"}}</div>
          </ion-col>
          <ion-col>
            <ion-label>Cliente</ion-label>
            <div>{{op.cliente}}</div>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="op.descricaoOrdem">
          <ion-col>
            <ion-label>Produto</ion-label>
            <div>{{op.referenciaOrdem}} - {{op.descricaoOrdem}}</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>Operação</ion-label>
            <div>{{op.operacao}}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>


  <!-- /*----------------ENCERRADOS-------------------*/-->

<!--
    <ion-list *ngIf="this.apontados && this.apontados.length > 0">
    <ion-list-header class="titLista" color="primary">
      <ion-toolbar color='primary'>
        <ion-title>Apontados</ion-title>
        <ion-chip slot="end" class="dtaApontados">
          <ion-datetime placeholder="Outra data" [(ngModel)]="dtaApontados" display-format="DD/MM/YYYY"
            (ionChange)="carregaStatus(this.equipamento)"></ion-datetime>
          <ion-label slot="end">{{ statusRecurso.agrupamento }}</ion-label>
        </ion-chip>
        <ion-chip class="qtdAndamento" slot="end">{{ apontados.length }}</ion-chip>
      </ion-toolbar>
    </ion-list-header>
    <ion-item *ngFor="let ap of this.apontados" class="itDados">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>Inicio</ion-label>
            <div>
              {{ap.inicio| date: "dd/MM - HH:mm:ss"}}
            </div>
          </ion-col>
          <ion-col>
            <ion-label>Termino</ion-label>
            <div>
              {{ap.termino| date: "dd/MM - HH:mm:ss"}}
            </div>
          </ion-col>
          <ion-col>
            <ion-label>Tempo</ion-label>
            <div>{{this.convertTime(ap.tempo)}}</div>
          </ion-col>
        </ion-row>
        <ion-row>

          <ion-item *ngFor="let ag of ap.agrupadores"
            [style]="'--background: #' + ag.corFundo + '; width: ' + ((ag.tempo / ap.tempo) * 100) + '%;'"></ion-item>

        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  -->
</ion-content>