.itemSemBorda {
    display: flex;

    ion-input { 
        margin: auto;
    }
}

div {
   width: 50%; 
   margin: auto;
   min-width: 250px;
}

.btnEntrar {
    min-width: 250px;
}

.esqueciSenha {
    color: var(--ion-color-primary);
    cursor: pointer; 
    font-size: smaller;
}