ion-title{
  font-weight: bold;
  font-size: 130%;
}

.badgeDesagr {
    background-color: var(--ion-color-warning);
    position: absolute;
    top: 7px;
    right: 7px;
    border-radius: 100%;
}

.badgeAgr {
    background-color:  var(--ion-color-primary);
    position: absolute;
    top: 7px;
    right: 7px;
    border-radius: 100%;
}

.badgeApt {
    background-color: var(--ion-color-success);
    position: absolute;
    top: 7px;
    right: 7px;
    border-radius: 100%;
}

.itDados {
    ion-label {
        color: var(--ion-color-primary);
        text-align: center;
    }
    div {
        font-weight: bold;
        text-align: center;
    }
}

.operacao {
    ion-label {
        color: navy;
        font-size: 130%;
    }

}

.sc-ion-modal-md {
    width: 90%;
}

.btn {
    width: 80%;
    max-width: 600px;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}