
<ion-header #head>
  <ion-toolbar class="alturamenor" color="primary">
    <ion-buttons class="alturamenor" collapse="true" slot="start">
      <ion-menu-button class="alturamenor"></ion-menu-button>
    </ion-buttons>
    <ion-buttons class="alturamenor" slot="end">
      <ion-chip class="sessao"  *ngIf="this.db.timer <= this.db.minMostraTimer" (click)='this.db.revalidaToken(this.db.app.token)'>
        Saindo em {{ this.db.timer }} min
      </ion-chip>
      <ion-button (click)="this.db.sendWhats()">
        <ion-icon slot="start" name="logo-whatsapp"></ion-icon>
      </ion-button>
      <ion-button class="alturamenor" (click)="this.selNot.selecionaNotificacao()">
        <ion-icon  slot="icon-only" name="notifications-outline"> </ion-icon>
        <ion-badge *ngIf="this.db.qtdNotificacoes > 0" top color="danger">{{ this.db.qtdNotificacoes }}</ion-badge>
      </ion-button>
      <ion-button class="alturamenor" (click)="incluiOS()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{rotuloPlural}}</ion-title>

  </ion-toolbar>
  <ion-toolbar class="alturamenor" *ngIf="mostrandoFiltro" (click)="selecionaCliente()">
    <ion-title *ngIf="!this.db.cliente">Selecione a empresa</ion-title>
    <ion-title *ngIf="this.db.cliente">{{ this.db.cliente.nome }}</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- <ion-toolbar class="itemSemBorda barraFiltro"> -->
<ion-toolbar >
    <ion-grid>
      <ion-row class="barraFiltro"> 
        <ion-col style="width: 30%;">
          <ion-label position="floating" class="fonteSmall fim"> Status
            <ion-select class="fonteSmall" 
                 (ionChange)="carrega()" 
                 [(ngModel)]="idStatus"
                 okText="Ok" cancelText="Cancelar"
                >
              <ion-select-option *ngFor="let op of opcoesFiltro" [value]="op.id">{{op.rotulo}}</ion-select-option>
            </ion-select>
          </ion-label>
        </ion-col>
        <ion-col style="width: 70%;">
          <ion-item class="itemSemBorda">
            <ion-button slot="end" fill="clear" (click)="mostraBusca = !mostraBusca" class="fim">
              <ion-icon slot="icon-only" name="search-outline"></ion-icon>
            </ion-button>
            <ion-button slot="end" *ngIf="ordens && ordens.length > 0 && this.mostraTodosCamposAuxiliares" fill="clear"
              (click)="expandeCampos(ordens, true);" class="fim">
              <ion-icon class="medio" name="caret-down-outline"></ion-icon>
            </ion-button>
            <ion-button slot="end" *ngIf="ordens && ordens.length > 0 && !this.mostraTodosCamposAuxiliares" fill="clear"
              (click)="expandeCampos(ordens, false);" class="fim">
              <ion-icon class="medio" name="caret-up-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
      <ion-grid>
      <ion-row *ngIf="mostraBusca" class="barraFiltro" > 
        <ion-col style="width:100%">
        <ion-item style="height: 49px;" class="itemSemBorda">
          <ion-searchbar  [placeholder]="getRotuloLocalizar()" value={{buscaOrd}}
            (ionChange)="busca($event.detail.value)">
          </ion-searchbar>
          <ion-badge *ngIf="this.ordens" slot="end" class="fim">
            {{this.ordens.length}}
          </ion-badge> 
         </ion-item> 
      </ion-col>
   
     
      </ion-row>
    </ion-grid>

  </ion-toolbar> 

</ion-header>

<ion-content [scrollEvents]="true" fullscreen> <!--</ion-content> [appHideHeader]="head"> -->
  <ion-refresher slot="fixed" (ionRefresh)="carrega($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher> 
  <ion-list>
    <ion-item *ngIf="ordens && ordens.length == 0">Nenhum item encontrado</ion-item>
    <ion-item class="itemSemBorda itemCard itemOS" *ngFor="let os of ordens"
      (click)="expandeCampo(os,!os.mostraCamposAuxiliares)">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label class="titulo"> {{ os.descricao }} </ion-label>
          </ion-col>
          <ion-col size="2" style="text-align: right;">
            <ion-icon class="medio" *ngIf="os.qtdDocumentos > 0" name="attach-outline"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label *ngIf="os.dataAgenda " class="vencimento">
              <!--               Data: {{ os.dataAgenda | date :  "dd/MM/yy" }}  -->
              {{ os.statusOS }}
            </ion-label>
          </ion-col>
          <ion-col size="2" style="text-align: right;">
            <ion-icon class="medio" *ngIf="os.qtdCamposAuxiliares > 0 && !os.mostraCamposAuxiliares"
              name="caret-down-outline"></ion-icon>
            <ion-icon class="medio" *ngIf="os.qtdCamposAuxiliares > 0 && os.mostraCamposAuxiliares"
              name="caret-up-outline"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="os.mostraDocumentos">
          <ion-chip outline *ngFor="let doc of this.os.documentos" (click)="seleciona(doc.id,$event);">
            <ion-icon name="document-outline"></ion-icon>
            <ion-label>{{doc.nome}}</ion-label>
          </ion-chip>
        </ion-row>
        <ion-row *ngIf="os.mostraCamposAuxiliares">
          <ion-grid>
            <ion-row *ngFor="let ca of this.os.camposAuxiliares">
              <ion-col *ngIf="ca.tipo == 0">
                <ion-label innerHtml="{{ca.rotulo}}"></ion-label>
              </ion-col>
              <ion-col *ngIf="ca.tipo != 0" size='4' class="cmpAuxRotulo">
                <ion-label>{{ca.rotulo}}:</ion-label>
              </ion-col>
              <ion-col *ngIf="ca.tipo != 0" size='6'>
                <div class="camposAux" *ngIf="ca.tipo == 1">
                  <b>{{ca.conteudo}}</b>
                </div>
                <div class="camposAux" *ngIf="ca.tipo == 2">
                  <b>{{ca.conteudo}}</b>
                </div>
                <div class="camposAux" *ngIf="ca.tipo == 3">
                  <b>{{ca.conteudo | date : "dd/MM/yy"}}</b>
                </div>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="os.observacao">
              <ion-col size='4'  class="cmpAuxRotulo">
                <ion-label>Observação:</ion-label>
              </ion-col>
              <ion-col size='6'>
                <div class="camposAux">
                  <b>{{os.observacao}}</b>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>