<ion-header>
  <ion-toolbar>
    <ion-title color="primary">ITENS</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="cancela()">
        <ion-icon
          color="primary"
          slot="icon-only"
          name="arrow-back-outline"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="carrega()">
        <ion-icon
          color="primary"
          slot="icon-only"
          name="refresh-outline"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-item class="ion-align-items-center">
    <p>
{{notaItem}}

    </p>
  </ion-item>
  <ion-item class="itemSemBorda">
    <ion-searchbar
      style="border-top: 5px"
      placeholder="Buscar Item"
      (ionChange)="busca($event)"
    ></ion-searchbar>
    <ion-badge *ngIf="this.itens" slot="end">
      {{this.itens?.length}}
    </ion-badge>
  </ion-item>
</ion-header>

<ion-content>
  <ion-item *ngIf="this.itens?.length == 0 ">Nenhum item encontrado</ion-item>

  <ion-list>
    <div *ngFor="let ite of this.itens">
   
      <ion-item
        class="itemSelecao itemCard"
        (click)="seleciona(ite)"
      >
      <ion-grid>
        <ion-row>
          <ion-col class="ion-no-padding" size=2>
            <ion-label class="ion-text-wrap">Pedido: {{ite.numeroPedido}}</ion-label>
          </ion-col>
          <ion-col class="ion-no-padding" size=10>
            <ion-label class="ion-text-wrap">Entrega: {{ite.dataEntrega | date:'shortDate'}}</ion-label>
          </ion-col>
          <ion-col class="ion-no-padding" size=12>
            <ion-label class="ion-text-wrap">Item: {{ite.item}} - {{ite.referencia}} {{ite.descricao}}  - {{ite.quantidade}} {{ite.unidade}}</ion-label>
          </ion-col>
        </ion-row> 
        </ion-grid>   
      </ion-item>
    </div>
  </ion-list>
</ion-content>
