ion-card{
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: justify;
    border-radius: 15px;
    width: 90%;
}

ion-content {
    margin-right: 30px;
}

.logo {
    max-width: 10px;
}


