

.superou {
    background-color: #EF9A9A;
    color: white !important;
    border-style: solid;
    border: 1px solid white;
    border-collapse: collapse;
}

.completa {
    background-color:#A5D6A7;
    color: white !important;
    border-style: solid;
    border: 1px solid white
}

.parcial {
    background-color: #FFF59D;
    color: black !important;
    border-style: solid;
    border: 1px solid white
}

.naoSeparado {
    background-color:#EEEEEE;
    color: black !important;
  //  border: 1px solid black;
  border-style: solid;
  border: 1px solid white

 }

ion-col{
    font-size: small;
   
}
