<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="!this.update"  class="ion-text-center">Incluir  {{this.tipo=='orcamento'?'Orçamento':this.tipo}}</ion-title>
    <ion-title *ngIf="this.update"  class="ion-text-center">Alterar {{this.tipo=='orcamento'?'Orçamento':this.tipo}} - {{dadosAuxiliares.numero}} </ion-title>

    
  </ion-toolbar>

  



 
</ion-header>

<ion-tabs>
  <ion-item  *ngIf="this.totalValor > 0" color="primary" font-color="white">
    <table width="100%">
      <tr>

        <td width="20%">
          Itens: {{this.gen.formataCampoSaida(this.totalItens.toString(),'number','0')}}
        </td>
        <td width="40%">
          Quantidade: {{this.gen.formataCampoSaida(this.totalQuantidade.toString(),'number','2')}}
        </td>
        <td width="40%">
          Valor Total: {{this.gen.formataCampoSaida(this.totalValor.toString(),'number','2')}}
        </td>
      </tr>
    </table>
  </ion-item>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="identificacaoPedido">
      <ion-label>Identificacao</ion-label>
      <ion-icon name="person-sharp"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="itensPedido">
      <ion-label>Itens</ion-label>
      <ion-icon name="pricetag-sharp"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="confirmacaoPedido">
      <ion-label>Confirmacao</ion-label>
      <ion-icon name="checkmark-sharp"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
