ion-row{

  border-bottom: solid lightgray 1px;
vertical-align: center;
}
ion-col{
  vertical-align: center;
}
ion-grid{
  margin: 2px !important;
  width: 100% !important
}

.row{
  background: white;
}
.rowdif{
  background:#8597ff;
}
ion-icon {
  color: black
}
.white{
  color: white !important
}

