ion-icon {
    font-size: 200%;
}

.anexo {
    margin-right: 10px !important;
    max-width: 300px !important;
}

.ttLbl {
    font-size: x-small;
    text-transform: none;
    position: absolute;
    padding-top: 43px ;
    letter-spacing: normal;
    
  }

  .item .item-content item-native div {
    background-color: red !important;
  }
